In [28]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [26]:
df = pd.DataFrame({'A':[23,45,80],'B':[12,15,18],'C':[55,66,77]})
cols = ['A','B']
col1 = ['C']
dfX = df[cols]
dfY = df[col1]
dfY

    C
0  55
1  66
2  77

In [39]:
st = LinearRegression()
A = [23,45,66]
B = [12,13,14]
C = (A,B)

z = zip(A,B)
for a,b in zip(A,B):
    print (a,b)

23 12
45 13
66 14

In [9]:
df['D'] = [20,30,40]
df

    A   B   C   D
0  23  12  55  20
1  45  15  66  30
2  80  18  77  40

In [17]:
cols = ['B','D']
df = df[cols]
dfY = df['B']